<div>
    <h2 mat-dialog-title>Seus dados foram cadastrados com sucesso!</h2>
    
        
          <p>Nome: {{nome}}</p>
          <p>Sobrenome: {{sobrenome}}</p>
          <p>Username:{{Username}}</p>
          <p>CPF: {{cpf}}</p>
          <p>Telefone: {{telefone}}</p>
       <!--  <p> endereço : {{endereço}}</p> dando erro-->
          

</div>

<!--nome: string = ''
  sobrenome: string = ''
  Username:string = ''
  cpf: string = ''
  telefone: string = ''
  endereço:string = ''
  complemento: string = ''-->